{% load i18n %}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% trans 'Task Manager' %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% include 'includes/header.html' %}
    {% include 'includes/flash.html' %}
    {% block content %}
      ...
    {% endblock %}
    {% include 'includes/footer.html' %}
    {% bootstrap_javascript %}
  </body>
</html>
